### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseDataDF = pd.read_csv(file_to_load)

purchaseDataDF.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Find total number of players
totalPlayers = purchaseDataDF['SN'].nunique()
totalPlayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Set values for column variables
numUniqueItems = purchaseDataDF["Item Name"].nunique()
totalAvgPrice = purchaseDataDF['Price'].mean()
totalPurchases = purchaseDataDF['Purchase ID'].count()
totalRevenue = purchaseDataDF['Price'].sum()

# Create Summary DataFrame
purchasingAnalysisDF = pd.DataFrame({'Unique Items': [numUniqueItems],
                                     'Average Price': [totalAvgPrice],
                                     'Total Purchases': [totalPurchases],
                                     'totalRevenue': [totalRevenue]
                                    })

purchasingAnalysisDF

   Unique Items  Average Price  Total Purchases  totalRevenue
0           179       3.050987              780       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Find Male total users and percentage of total users
condMale = purchaseDataDF['Gender'] == "Male"
numMales = purchaseDataDF.loc[condMale, :]['SN'].nunique()
percentMales = round((numMales / totalPlayers) * 100, 2)

# Repeat above for other genders
condFemale = purchaseDataDF['Gender'] == "Female"
numFemales = purchaseDataDF.loc[condFemale, :]['SN'].nunique()
percentFemales = round((numFemales / totalPlayers) * 100, 2)

condOther = purchaseDataDF['Gender'] == "Other / Non-Disclosed"
numOther = purchaseDataDF.loc[condOther, :]['SN'].nunique()
percentOther = round((numOther / totalPlayers) * 100, 2)

# Create new DataFrame with Gender Demographics
genderDF = pd.DataFrame({'Users': [numMales, numFemales, numOther],
                         'Percent of Total Users': [percentMales, percentFemales, percentOther]
                        },
                        index=['Male', 'Female', 'Other / Non-Disclosed']
                       )
genderDF

                       Users  Percent of Total Users
Male                     484                   84.03
Female                    81                   14.06
Other / Non-Disclosed     11                    1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create gender-specific DF
maleDF = purchaseDataDF.loc[condMale, :]

# Find gender-specific total purchases, total purchase value, average purchase price, and average purchase total per person
malePurchases = maleDF['Purchase ID'].count()
maleTotalPurchaseValue = maleDF['Price'].sum()    
maleAvgPrice = round(maleTotalPurchaseValue / malePurchases, 2)
maleAvgPurchaseTotal = round(malePurchases / numMales, 2)

# Repeat above for other genders
femaleDF = purchaseDataDF.loc[condFemale, :]
femalePurchases = femaleDF['Purchase ID'].count()
femaleTotalPurchaseValue = femaleDF['Price'].sum()    
femaleAvgPrice = round(femaleTotalPurchaseValue / femalePurchases, 2)
femaleAvgPurchaseTotal = round(femalePurchases / numFemales, 2)

otherDF = purchaseDataDF.loc[condOther, :]
otherPurchases = otherDF['Purchase ID'].count()
otherTotalPurchaseValue = otherDF['Price'].sum()    
otherAvgPrice = round(otherTotalPurchaseValue / otherPurchases, 2)
otherAvgPurchaseTotal = round(otherPurchases / numOther, 2)


# Create new DF with gender purchasing analysis
genderAnalysisDF = pd.DataFrame({'Purchase Count': [malePurchases, femalePurchases, otherPurchases],
                         'Total Purchase Value': [maleTotalPurchaseValue, femaleTotalPurchaseValue, otherTotalPurchaseValue],
                         'Average Purchase Price': [maleAvgPrice, femaleAvgPrice, otherAvgPrice],
                         'Average Purchase Total per Person': [maleAvgPurchaseTotal, femaleAvgPurchaseTotal, otherAvgPurchaseTotal]
                        },
                        index=['Male', 'Female', 'Other / Non-Disclosed']
                       )


genderAnalysisDF.head(10)

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total per Person
Male,652,1967.64,3.02,1.35
Female,113,361.94,3.20,1.40
Other / Non-Disclosed,15,50.19,3.35,1.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# use describe function to help determine reasonable age bin cutoffs
purchaseDataDF.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [7]:
# Create bins and labels
ageBins = [0, 10, 15, 20, 25, 35, 45]
ageLabels = ['10 and Under', '11-15', '16-20', '21-25', '26-35', '36-45']
             
# Categorize users based on created age bins and put into copied DF
newPurchaseDF = purchaseDataDF.copy()             
newPurchaseDF['Age Range'] = pd.cut(newPurchaseDF['Age'], ageBins, labels=ageLabels)

In [8]:
# Find age-specific total users and percentage of total users
cond10 = newPurchaseDF['Age Range'] == '10 and Under'
num10 = newPurchaseDF.loc[cond10, :]['SN'].nunique()
percent10 = round((num10 / totalPlayers) * 100, 2)

# Repeat above for each age range
cond15 = newPurchaseDF['Age Range'] == '11-15'
num15 = newPurchaseDF.loc[cond15, :]['SN'].nunique()
percent15 = round((num15 / totalPlayers) * 100, 2)

cond20 = newPurchaseDF['Age Range'] == '16-20'
num20 = newPurchaseDF.loc[cond20, :]['SN'].nunique()
percent20 = round((num20 / totalPlayers) * 100, 2)

cond25 = newPurchaseDF['Age Range'] == '21-25'
num25 = newPurchaseDF.loc[cond25, :]['SN'].nunique()
percent25 = round((num25 / totalPlayers) * 100, 2)

cond35 = newPurchaseDF['Age Range'] == '26-35'
num35 = newPurchaseDF.loc[cond35, :]['SN'].nunique()
percent35 = round((num35 / totalPlayers) * 100, 2)

cond45 = newPurchaseDF['Age Range'] == '36-45'
num45 = newPurchaseDF.loc[cond45, :]['SN'].nunique()
percent45 = round((num45 / totalPlayers) * 100, 2)

# Create new DataFrame with Age Demographics
ageDF = pd.DataFrame({'Users': [num10, num15, num20, num25, num35, num45],
                         'Percent of Total Users': [percent10, percent15, percent20, 
                                                    percent25, percent35, percent45]
                        },
                        index=['Aged 10 and Under', 'Aged 11-15', 'Aged 16-20', 
                               'Aged 21-25', 'Aged 26-35', 'Aged 36-45']
                    )
ageDF

                   Users  Percent of Total Users
Aged 10 and Under     24                    4.17
Aged 11-15            41                    7.12
Aged 16-20           150                   26.04
Aged 21-25           232                   40.28
Aged 26-35            96                   16.67
Aged 36-45            33                    5.73

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Create age-specific DF
under10DF = purchaseDataDF.loc[cond10, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under10Purchases = under10DF['Purchase ID'].count()
under10TotalPurchaseValue = under10DF['Price'].sum()    
under10AvgPrice = round(under10TotalPurchaseValue / under10Purchases, 2)
under10AvgPurchaseTotal = round(under10Purchases / num10, 2)

# Repeat above for other ages

# Create age-specific DF
under15DF = purchaseDataDF.loc[cond15, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under15Purchases = under15DF['Purchase ID'].count()
under15TotalPurchaseValue = under15DF['Price'].sum()    
under15AvgPrice = round(under15TotalPurchaseValue / under15Purchases, 2)
under15AvgPurchaseTotal = round(under15Purchases / num15, 2)

# Create age-specific DF
under20DF = purchaseDataDF.loc[cond20, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under20Purchases = under20DF['Purchase ID'].count()
under20TotalPurchaseValue = under20DF['Price'].sum()    
under20AvgPrice = round(under20TotalPurchaseValue / under20Purchases, 2)
under20AvgPurchaseTotal = round(under20Purchases / num15, 2)

# Create age-specific DF
under25DF = purchaseDataDF.loc[cond25, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under25Purchases = under25DF['Purchase ID'].count()
under25TotalPurchaseValue = under25DF['Price'].sum()    
under25AvgPrice = round(under25TotalPurchaseValue / under25Purchases, 2)
under25AvgPurchaseTotal = round(under25Purchases / num25, 2)

# Create age-specific DF
under35DF = purchaseDataDF.loc[cond35, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under35Purchases = under35DF['Purchase ID'].count()
under35TotalPurchaseValue = under35DF['Price'].sum()    
under35AvgPrice = round(under35TotalPurchaseValue / under35Purchases, 2)
under35AvgPurchaseTotal = round(under35Purchases / num35, 2)

# Create age-specific DF
under45DF = purchaseDataDF.loc[cond45, :]
# Find age-specific total purchases, total purchase value, average purchase price, and average purchase total per person
under45Purchases = under45DF['Purchase ID'].count()
under45TotalPurchaseValue = under45DF['Price'].sum()    
under45AvgPrice = round(under45TotalPurchaseValue / under45Purchases, 2)
under45AvgPurchaseTotal = round(under45Purchases / num45, 2)


# Create new DF with age purchasing analysis
ageAnalysisDF = pd.DataFrame({'Purchase Count': [under10Purchases, under15Purchases, under20Purchases, under25Purchases, under35Purchases, under45Purchases],
                         'Total Purchase Value': [under10TotalPurchaseValue, under15TotalPurchaseValue, under20TotalPurchaseValue, under25TotalPurchaseValue, under35TotalPurchaseValue, under45TotalPurchaseValue],
                         'Average Purchase Price': [under10AvgPrice, under15AvgPrice, under20AvgPrice, under25AvgPrice, under35AvgPrice, under45AvgPrice],
                         'Average Purchase Total per Person': [under10AvgPurchaseTotal, under15AvgPurchaseTotal, under20AvgPurchaseTotal, under25AvgPurchaseTotal, under35AvgPurchaseTotal, under45AvgPurchaseTotal]
                        },
                        index=['Aged 10 and Under', 'Aged 11-15', 'Aged 16-20', 
                               'Aged 21-25', 'Aged 26-35', 'Aged 36-45']
                               )

ageAnalysisDF

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total per Person
Aged 10 and Under,32,108.96,3.40,1.33
Aged 11-15,54,156.60,2.90,1.32
Aged 16-20,200,621.56,3.11,4.88
Aged 21-25,325,981.64,3.02,1.40
Aged 26-35,129,377.13,2.92,1.34
Aged 36-45,40,133.88,3.35,1.21

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group by screen name and create custom aggregation with the count, mean, and sum of the Price column
spendersDF = purchaseDataDF.groupby('SN').agg({'Price':['count', 'mean', 'sum']})

# Join the 'Price' series with the newly created series
spendersDF.columns = spendersDF.columns.map('_'.join)

# Rename columns for more clarity and round the Average column to 2 decimals
spendersDF.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
spendersDF['Average Purchase Price'] = spendersDF['Average Purchase Price'].round(2)

#Identify top 5 spenders by total purchase value
topSpendersDF = spendersDF.nlargest(5, ['Total Purchase Value'], keep='all')

topSpendersDF

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Create DF of items
itemDF = purchaseDataDF[['Item ID', 'Item Name', 'Price']]

# Create DF of items grouped by Item ID and Name and with the price, count and total purchase value of items
itemGroupDF = itemDF.groupby(['Item ID', 'Item Name']).agg({'Price':['mean', 'count', 'sum']})

# Rename columns for more clarity
itemGroupDF.columns = ['Price', 'Purchase Count', 'Total Purchase Value']

# identify 5 most purchased items
topItemsDF = itemGroupDF.nlargest(5, ['Purchase Count'], keep='all')

topItemsDF

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
145,Fiery Glass Crusader,4.58,9,41.22
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16
34,Retribution Axe,2.22,8,17.76
37,"Shadow Strike, Glory of Ending Hope",3.16,8,25.28
59,"Lightning, Etcher of the King",4.23,8,33.84
60,Wolf,3.54,8,28.32
72,Winter's Bite,3.77,8,30.16
75,Brutality Ivory Warmace,2.42,8,19.36
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# Sort itemGroupDF to pull 5 most profitable items from the entire list of items
topProfitDF = itemGroupDF.nlargest(5, ['Total Purchase Value'], keep='all')

topProfitDF

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80